<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet"  th:href="@{/css/save.css}">
</head>

<body>
    <a href="/customer-list">List Customer</a><br />
    <h1>View Customer:</h1>
    Customer ID: <span th:text="${customer.id}"></span> <br />
    Customer Name: <span th:text="${customer.name}"></span> <br />
    Customer Address: <span th:text="${customer.address}"></span> <br />
</body>

</html>