<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet"  th:href="@{/css/save.css}">
</head>

<body>
    <a href="/customer-list">List Customer</a><br />
    <h1>Add new Customer:</h1>
    <form action="/saveCustomer" method="POST" th:object="${customer}">
        Name: <input type="text" th:field="*{name}" /> <br /> <br />
        Address: <input type="text" th:field="*{address}" /> <br /> <br />
        <button type="submit">Submit</button>
    </form>
</body>

</html>